@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Lynx Organization<br />
    Lahore, Pakistan<br />
    <abbr title="Phone">Phone:</abbr>
    0423-7164644
</address>

<address>
    <strong>Support:</strong> <a href="mailto:learnenglish24@gmail.com">LearnEnglish24@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:learnenglish24@gmail.com">LearnEnglish24@gmail.com</a>
</address>
